<!-- <div class="login-page">


    <div class="form">


        <h2>Вхід</h2>


        <form class="login-form" #myForm="ngForm" >


            <input type="text" placeholder="Електронна пошта" [(ngModel)]="model.Email" name="Email" />


            <input type="password" placeholder="Пароль" [(ngModel)]="model.Password" name="Password" />


            <button type="submit">Увійти</button>


            <p class="message">Dont have account? <a [routerLink]="['/register']">Зареєструватися</a></p>


        </form>


    </div>


</div> -->

<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container" (ngSubmit)="OnSubmit();" style="text-align: center;">
      <p><input type="email" [(ngModel)]="model.Email" name="Email"  placeholder="Email"></p>
      <p><input type="password" [(ngModel)]="model.Password" name="Password" placeholder="Password"></p>
      <p [routerLink]="['/register']" style="color: gray; cursor: pointer;">Don't have an account?</p>
      <p><input type="submit" value="Sign in"></p>
    </form>
  </div>