.input-search{
    margin-bottom: 20px;
}
td{padding: 15px;}

th{padding: 15px;}
.buttonMenu{
    color: red;
}
nz-table{
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
}
.buttonAnket{
    border-radius: 15px;
    background-color: rgb(165, 165, 165);
    padding: 10px;
    font-weight: bold;
    
}