
<h2>User Manager</h2>

<input type="text" name="search" [(ngModel)]="searchText" (ngModelChange)="Search()" nz-input placeholder="Type what you want to search" class="input-search"/>

<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="SearchResult">
  <thead>
    <tr>
      <th>Id</th>
      <th>FullName</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.fullName }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.address }}</td>
      <td>
          <a nz-button nzType="primary" style="color:white" 
          nz-popconfirm 
          nzPopconfirmTitle="Please, confirm delete"
          (nzOnConfirm)="deleteUser(data.id)">Delete</a>
          <a nz-button nzType="warn" style="margin-left: 20px;">Edit</a>
      </td>
    </tr>
  </tbody>
</nz-table>