
<div class="anketa">

  <div class="anketa-triangle"></div>
  <h2 class="anketa-header">Create anketas</h2>

  <form class="anketa-container" (ngSubmit)="OnSubmit()" style="text-align: center;">
    <p><input type="text"[(ngModel)]="model.FullName" name="FullName" placeholder="Full Name"></p>
    <p><input type="email" [(ngModel)]="model.Email" name="Email" placeholder="Email"></p>
    <p><input type="number" [(ngModel)]="model.Age" name="Age" placeholder="Age"></p>
    <p><input type="text" [(ngModel)]="model.Address" name="Address" placeholder="Address"></p>
    <p><input type="text" [(ngModel)]="model.PhoneNumber" name="Phone" placeholder="Phone"></p>
    <p><input type="password" [(ngModel)]="model.Password" name="Password" placeholder="Password"></p>
    <p><input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Repeat password"></p>
   
    <p><input type="submit" value="Записатися на прийом"></p>
  </form>
</div>