
<div class="anketa">

  <div class="anketa-triangle"></div>
  <h2 class="anketa-header">Create anketas</h2>

  <form class="anketa-container" (ngSubmit)="OnSubmit()" style="text-align: center;">
    <p><input type="text"[(ngModel)]="model.FullName" name="FullName" placeholder="Имя и фамилия"></p>
    <p><input type="text" [(ngModel)]="model.Title" name="Title" placeholder="Заголовок"></p>
    <p><input class="textAnketa" type="text" [(ngModel)]="model.Text" name="Text" placeholder="Ваш комментарий, описание проблемы"></p>
    <p><input type="text" [(ngModel)]="model.Servant" name="Servant" placeholder="Услуга"></p>
    <p><input type="text" [(ngModel)]="model.Phone" name="Phone" placeholder="Телефон"></p>
    <h3>{{message}}</h3>
   
    <p><input type="submit" value="Записатися на прийом"></p>
  </form>
</div>

