<div class="price">

  <div class="price-triangle"></div>
  <!-- <h2 class="register-header">Create account</h2> -->

  <form class="price-container" (ngSubmit)="OnSubmit()" style="text-align: center;">
   
    <h1 >Цены на услуги стоматологии Rovno Zyb</h1>

    <table class="table-price">
      <thead class="theadHead">
        <tr>
          <th>Название услуги</th>
          <th>Стоимость, грн</th>
        </tr>
      </thead>
      <tbody>

          <tr>
              <td></td>
              <td class="cost"></td>
            </tr>
        <tr>
          <td>Первичная консультация</td>
          <td class="cost">250.00грн</td>
        </tr>

        <tr>
            <td></td>
            <td class="cost"></td>
          </tr>

        <tr>
          <td>Прицельный рентген снимок</td>
          <td class="cost">250.00грн</td>
        </tr>
        <tr>
          <td>Постановка кофердама </td>
          <td class="cost">170.00грн</td>
        </tr>
        <tr>
          <td>Комплексное обезболивание </td>
          <td class="cost">300.00грн</td>
        </tr>

        

      </tbody>
    </table>
  </form>
</div>