<div class="price">

  <div class="price-triangle"></div>
  <!-- <h2 class="register-header">Create account</h2> -->

  <form class="price-container" (ngSubmit)="OnSubmit()" style="text-align: center;">

    <h1>Цены на услуги стоматологии Rovno Zyb</h1>

    <table class="table-price">
      <thead class="theadHead">
        <tr>
          <th>Название услуги</th>
          <th>Стоимость, грн</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td></td>
          <td class="cost"></td>
        </tr>
        <tr>
          <td>Первичная консультация</td>
          <td class="cost">250.00грн</td>
        </tr>

        <tr>
          <td></td>
          <td class="cost"></td>
        </tr>

        <tr>
          <td>Прицельный рентген снимок</td>
          <td class="cost">250.00грн</td>
        </tr>
        <tr>
          <td>Постановка кофердама </td>
          <td class="cost">170.00грн</td>
        </tr>
        <tr>
          <td>Комплексное обезболивание </td>
          <td class="cost">300.00грн</td>
        </tr>
        <tr>
          <td>Профессиональная чистка зубов с использованием ультразвука (1 челюсть) </td>
          <td class="cost">430.00грн</td>
        </tr>
        <tr>
          <td>Профессиональная чистка зубов аппаратом Air Flow (1 челюсть) </td>
          <td class="cost">680.00грн</td>
        </tr>
        <tr>
          <td>Профессиональная чистка зубов комплексная (1 челюсть) </td>
          <td class="cost">810.00грн</td>
        </tr>

        <tr>
          <td>Комплексная профессиональная чистка зубов + отбеливание системой Beyond (2 посещения)<br>
            <span style="font-size: 11px;">В зависимости от состояния ротовой полости, наличия пломб и имплантов доктор
              подберет и предложит необходимый вид чистки,
              который подойдет индивидуально для вас.</span> </td>
          <td class="cost">5500.00грн</td>
        </tr>

        <tr>
          <td></td>
          <td class="cost"></td>
        </tr>

        <tr>
          <td> </td>
          <td class="cost"></td>
        </tr>


        <tr>
          <td>Консультация стоматолога </td>
          <td class="cost">250.00грн</td>
        </tr>

        <tr>
          <td>Контрольний визит, определение индекса гигиены </td>
          <td class="cost">290.00грн</td>
        </tr>

        <tr>
          <td>Неотложная помощь </td>
          <td class="cost">300.00грн</td>
        </tr>
        <tr>
          <td>Удаление предыдущего пломбировочного материала </td>
          <td class="cost">75.00грн</td>
        </tr>
        <tr>
          <td>Временная/лечебная пломба </td>
          <td class="cost">110.00грн</td>
        </tr>
        <tr>
          <td>Украшение зуба скайсом </td>
          <td class="cost">370.00грн</td>
        </tr>
        <tr>
          <td>Коррекция/шлифовка пломбы </td>
          <td class="cost">340.00грн</td>
        </tr>
        <tr>
          <td>Лечение кариеса, І степень </td>
          <td class="cost">660.00грн</td>
        </tr>

        <tr>
          <td>Лечение кариеса, ІІ степень </td>
          <td class="cost">660.00грн</td>
        </tr>

        <tr>
          <td>Лечение кариеса, ІІІ степень </td>
          <td class="cost">1020.00грн</td>
        </tr>

        <tr>
          <td>Инструментальная и медикаментозная обработка одного канала постоянного зуба </td>
          <td class="cost">580.00грн</td>
        </tr>

        <tr>
          <td>Инструментальная и медикаментозная обработка одного канала с помощью бинокуляров </td>
          <td class="cost">850.00грн</td>
        </tr>


        <tr>
          <td>Восстановление разрушенной коронки постоянного зуба светозатвердевающим материалом (эстетическая
            реставрация) </td>
          <td class="cost">2850.00грн</td>
        </tr>


        <tr>
          <td>Удаление инородного тела с канала, обработка ранее леченного корневого канала </td>
          <td class="cost">1350.00грн</td>
        </tr>


        <tr>
          <td>Лечебная повязка в корневом канале </td>
          <td class="cost">390.00грн</td>
        </tr>


        <tr>
          <td>Шинирование зубного ряда (1 зуб) </td>
          <td class="cost">450.00грн</td>
        </tr>

        <tr>
          <td>Шинирование зубного ряда (1 зуб)
            <br>
            <span style="font-size: 11px;">В зависимости от нагрузки на конкретний зуб, степень его
              повреждения/разрушения доктор подберет и
              предложит необходимый материал и способ лечения, который подойдет индивидуально вам.</span>
          </td>
          <td class="cost">450.00грн</td>
        </tr>


        <tr>
          <td>Простое удаление однокорневого зуба </td>
          <td class="cost">370.00грн</td>
        </tr>


        <tr>
          <td>Простое удаление многокорневого зуба </td>
          <td class="cost">710.00грн</td>
        </tr>

        <tr>
          <td>Сложное удаление постоянного зуба </td>
          <td class="cost">950.00грн</td>
        </tr>

        <tr>
          <td>Удаление инородного тела (импланта) </td>
          <td class="cost">1550.00грн</td>
        </tr>


        <tr>
          <td>Простое удаление 8го зуба </td>
          <td class="cost">1310.00грн</td>
        </tr>


        <tr>
          <td>Атипичное удаление 8го зуба </td>
          <td class="cost">2350.00грн</td>
        </tr>


        <tr>
          <td>Установка импланта І категории </td>
          <td class="cost">6650.00грн</td>
        </tr>


        <tr>
          <td>Установка импланта ІІ категории </td>
          <td class="cost">14250.00грн</td>
        </tr>

        <tr>
          <td>Установка импланта ІІІ категории </td>
          <td class="cost">15200.00грн</td>
        </tr>

        <tr>
          <td>"Имплант под ключ" І категории </td>
          <td class="cost">16000.00грн</td>
        </tr>


        <tr>
          <td>"Имплант под ключ" ІІІ категории </td>
          <td class="cost">28000.00грн</td>
        </tr>


        <tr>
          <td>Консультация доктора ортодонта </td>
          <td class="cost">250.00грн</td>
        </tr>

        <tr>
          <td>Установка металлической брекет-системы </td>
          <td class="cost">от 8500.00грн</td>
        </tr>

        <tr>
          <td>Установка эстетической брекет-системы </td>
          <td class="cost">от 16700.00грн</td>
        </tr>

        <tr>
            <td></td>
            <td class="cost"></td>
          </tr>


        <tr>
          <td>Циркониевая конструкция, полная анатомия </td>
          <td class="cost">3320.00грн</td>
        </tr>

        <tr>
          <td>Безметалловая коронка на каркасе </td>
          <td class="cost">4850.00грн</td>
        </tr>


        <tr>
          <td>Установка виниров </td>
          <td class="cost">6110.00грн</td>
        </tr>

        <tr>
            <td> </td>
            <td class="cost"></td>
          </tr>

        <tr>
          <td>Лечение с использованием ЗАКС </td>
          <td class="cost">от 1085.00грн</td>
        </tr>


        <tr>
          <td>Первые 60мин лечения во сне </td>
          <td class="cost">3250.00грн</td>
        </tr>

        <tr>
          <td>Каждые последующие 30мин лечения во сне </td>
          <td class="cost">2225.00грн</td>
        </tr>

      </tbody>
    </table>
  </form>
</div>